.cart-container{
    display: flex;
    flex-direction: column;
    align-self: flex-start;    
    width: 50vw;
}

.cart-container h1{
    text-align: center;
}
.cart-input-container{
    display: flex;
}
.add-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: fit-content;
    border-radius: 2vh;
	border: 1px solid hsl(133, 100%, 40%);
	background-color: hsl(133, 100%, 40%);
	color: #FFFFFF;
	font-size: 17px;
	font-weight: bold;
	padding: 10px 15px;
    cursor: pointer;
}

.cart-container input{
    display: flex;
    width: 70%;
    background-color: #eee;
    border: none;
    padding: 1.6vh 1.5vh;
    font-size: 20px;
	margin: 5vh 2.5vh;
    border-radius: 20px;
}
.cart-container input:focus{
    border: 3px solid green; 
    outline: none;
}
.cart-list {
    background-color: #fff;
	border-radius: 2vh;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	overflow: hidden;
    padding: 0 10px;
}
.cart-list h2{
    text-align: center;
}
.remove-button{
    color: red;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.cart-container ul{
    display: flex;
    flex-direction: column;

}
.cart-container ul li{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    list-style: none;
    width: 100%;
}
.cart-container ul li:last-child{
    margin-bottom: 10px;
}
.removed{
    text-decoration: line-through;
}